.navbar {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.2rem;
  /* position: sticky; */
  top: 0;
  /* z-index: 999; */
}

.nav-underline {
  width: 80%;
  height: 0px;
  border: 1px solid #71a89e;
  z-index: 999;
  align-self: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3em;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  margin-top: 7rem;
}

.container {
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 50px;
  padding-left: 50px;
}

.navbar-logo img {
  color: #fff;
  justify-self: start;
  cursor: pointer;
  max-width: 100%;
  height: auto;
  width: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  object-fit: contain;
}

.navbar-icon {
  margin-right: 0.5rem;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
  margin-top: 4rem;
}

.nav-item {
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid #71a89e;
}

.nav-links {
  color: #303031;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .navbar {
    height: auto;
  }
  .nav-underline {
    width: 80%;
    height: 0px;
    border: 1px solid #71a89e;
    z-index: 999;
    align-self: center;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0em;
  }
  .container {
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0px;
    padding-left: 0px;
  }
  .navbar-logo img {
    color: #fff;
    justify-self: start;
    align-self: flex-start;
    cursor: pointer;
    max-width: 100%;
    height: 100px;
    width: 100px;
    text-decoration: none;
    display: flex;
    align-items: center;
    object-fit: contain;
  }

  .navbar-container {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin-top: 0rem;
  }

  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #1c2237;
    left: 0;
    opacity: 1;
    transition: all 0.6s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: #71a89e;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    width: 100%;
  }

  .navbar-logo {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }
}
